version: "3.9"

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: plantsight
      POSTGRES_PASSWORD: plantsight
      POSTGRES_DB: plantsight
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
